.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #FBEAEB;
  padding: 2.5rem;
  border-radius: 16px;
  width: 95%;
  max-width: 600px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-out;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.modal h3 {
  margin: 0;
  color: #2c3e50;
  text-align: center;
  font-size: 1.5rem;
}

.modal input[type="text"],
.modal textarea,
.modal input[type="file"] {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #FBEAEB;
  font-size: 1rem;
  box-sizing: border-box;
}

.modal textarea {
  resize: vertical;
  min-height: 100px;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}

.modal button {
  width: 48%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.modal .submit,
.modal .cancel {
  background-color: #2F3C7E;
  color: #FBEAEB;
}

.modal button:hover {
  opacity: 0.9;
  background-color: #0056b3;
}
  
.fixedButton {
  position: fixed;
  left: 20px;
  z-index: 1000;
  background-color: #2F3C7E;
  color: #FBEAEB;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  min-width: 160px;
  text-align: center;
}

.fixedButton:hover {
  background-color: #0056b3;
}

.editButtonFixed {
  bottom: 104px;
}

.hideInstructionsButton {
  bottom: 62px;
}

.viewButtonFixed {
  bottom: 20px;
}

.instructionsContainer {
  position: fixed;
  top: 720px;
  right: 70px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 1000;
}

.instructionBox {
  background-color: #2F3C7E;
  color: #FBEAEB; 
  border-radius: 12px;
  padding: 10px 15px;
  width: 220px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-align: center;
} 


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
